<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
	<add key="DefaultPushSource" value="http://mdollarnuget/" /> 
	
	<!-- If you want to test publishing to a particular location, you can make your 
		own temporary edit here, and also in the packageSources section below.
		<add key="DefaultPushSource" value="\\localhost\c$\temp\localNugetPackageSource" />
	-->
  </config>
  <apikeys>
  </apikeys>
  <solution>
    <!-- This is necessary to prevent nuget from adding packages and their content to source control. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
	<!-- No internet-facing package source should appear here!  Only officially sanctioned internal sources are allowed. -->
	<!-- Make sure the only package sources are ones we have defined here. -->
    <clear/>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>